:root {
  --gray-100: #e1e1e6;
  --gray-200: #c4c4cc;
  --gray-300: #d9d9d9;
  --gray-400: #808080;
  --gray-700: #0f0d13;

  --purple-700: #2a2141;
}

:focus {
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-700);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}
